body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    width: 100%; /* Set to the desired width of the image container */
    max-width: 600px; /* Adjust based on your preference */
    height: 400px; /* Set to the desired height of the image container */
    overflow: hidden; /* Hide parts of the image that overflow the container */
    margin: auto; /* Center the container if it's smaller than the carousel width */
}

.carousel-images img {
    width: 100%; /* Make images fill the container width */
    height: 100%; /* Make images fill the container height */
    object-fit: cover; /* Cover the container with the image without distorting aspect ratio */
    display: block; /* Hide images initially */
}


.image-info, .settings {
    text-align: center;
    margin-top: 20px;
}

.image-info h2, .image-info p, .settings label, .settings input, .settings button {
    margin: 5px 0; /* Add some spacing */
}

.settings input, .settings button {
    font-size: 16px;
    padding: 5px;
}

.settings button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    cursor: pointer;
}

.settings button:hover {
    background-color: #45a049; /* Darker green on hover */
}
