body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.carousel-images img {
    width: 100%;
    display: none; /* Hide images initially */
}

.carousel-images img.active {
    display: block; /* Only show the active image */
}

.image-info {
    text-align: center;
    margin-top: 20px;
}

#image-name {
    font-size: 24px;
    margin-bottom: 10px;
}

#timer {
    font-size: 18px;
}


.settings {
    text-align: center;
    margin-top: 20px;
}

.settings label {
    margin-right: 10px;
    font-size: 16px;
}

.settings input {
    font-size: 16px;
    padding: 5px;
    width: 60px; /* Adjust as needed */
}

.settings button {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    cursor: pointer;
}

.settings button:hover {
    background-color: #45a049; /* Darker green on hover */
}

